.row-small {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.row-big {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.fit-img {
  margin-bottom: 1rem;
  width: 100%;
}

a > img {
  filter: grayscale(100%);
}

a > img:hover {
  filter: none;
}

a:hover {
  text-decoration: none;
}
